.App {
  text-align: center;
  background-image: url('bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:110% ;
 
}

.App-header {
  /* background-color: #ffffff; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
.movie-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:40px;
  
 
}
.movie-section{
  width: 95%;
  /* margin-left: 5%; */
  text-align: left;
}

.movie-wrapper{
  /* background-color: rgba(209, 209, 209, 0.5); */
  width: 500px;
  color: #000000;
  border-radius: 5px;
  text-align: left;
  font-size: 30px;
  border-radius: 40px;
  margin-top: 20px;
  background-color: rgba(209, 209, 209, 0.5);
  padding-bottom: 20px;
 
  
  /* height: 400px; */
}
.movie-wrapper:hover{
  border-radius: 40px;
  transform: scale(1.1); 
  
  /* padding: 20px; */
   background-color: rgba(209, 209, 209, 0.5);
}

.movie-search{
  width: 475px;
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: bold;
  padding: 16px;
}
.movie-title{
  height: 80px;
 font-weight: bolder;
 font-size: 30px;


  
}

.movie-rate{
 float: right;
 background-color: rgb(255, 0, 0);
 border-radius: 50%;
 color: white;
 height: 50px;
 width: 50px;
 padding: 10px;
 text-align: center;
 margin-right: 10px;
 

}
.movie-img{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.movie-desc{
  /* background-color: aqua; */
  margin:20px ;
}
footer{
  margin-top: 100px; ;
  width: 100%;
  padding: 15px;
  background-color: #000000;
  
}
.link{
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  /* padding: 20px; */
}
a:hover{
  color: rgb(0, 81, 255);
  text-decoration-line: none;
}